@import 'src/app/theme/variables';

.hero-container {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  .hero-bg {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-size: cover;
    background-position: center 20%;
    z-index: 1;
    transition: $transition-smooth;
    animation: scaleIn 10s infinite alternate; // Movimento sutil de "respiração"
  }

  .hero-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: $hero-gradient;
    z-index: 2;
  }

  .hero-content {
    position: relative;
    z-index: 3;
    padding-left: 5%;
    max-width: 600px;
    
    .movie-logo {
      width: 100%;
      max-width: 400px;
      margin: 20px 0;
      filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
    }
  }
}

@keyframes scaleIn {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}

.btn-play {
  background: white;
  color: black;
  padding: 12px 35px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
    background: #e0e0e0;
  }
}